* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: black;
}

header {
  background:#fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  position: sticky;
  top: 0;
}

.logo {
  cursor: pointer;
  width: 150px;
}

.nav__links li {
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  text-transform: uppercase;
  font-weight: 600;
}

.nav__links li a:hover {
  padding-bottom: 10px;
  border-bottom: 3px solid rgba(67, 194, 221, 1);
}

button {
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 20px;
  background-color: rgba(1, 185, 213, 1);
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(1, 185, 213, 0.8);
}

.landing-content {
  background-image: url("images2.jpg"),
    linear-gradient(to bottom, rgb(1, 185, 213), #ffffff);
  background-blend-mode: multiply;
  background-size: contain;
  height: 90vh;
  padding: 10px 10%;
  display: flex;
  align-items: center;
}

.content-left h4 {
  font-size: 50px;
  padding-bottom: 10px;
  font-weight: 300;
}

.content-left p {
  font-size: 18px;
  font-weight: 100;
  padding-bottom: 30px;
}
.content-right {
  text-align: center;
}
.content-right img {
  width: 540px;
}

.checkbtn {
  font-size: 30px;
  color: rgb(1, 185, 213);
  float: right;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media screen and (max-width: 1200px) {
  header {
    padding: 10px 5%;
  }

  .nav__links li {
    padding: 0 15px;
  }
}

@media screen and (max-width: 900px) {
  .logo {
    width: 100px;
  }

  .nav__links li a {
    font-size: 14px;
  }
  .landing-content {
    padding: 15px 10%;
    flex-direction: column-reverse;
  }

  .content-left h4 {
    font-size: 40px;
  }

  .content-left p {
    font-size: 15px;
  }
  .content-right {
    text-align: center;
  }
  .content-right img {
    width: 450px;
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media screen and (max-width: 750px) {
  .nav__links li {
    padding: 0 10px;
  }

  .landing-content {
    padding: 155px 10%;
  }

  .content-left {
    text-align: center;
  }
  .content-left h4 {
    font-size: 30px;
  }

  .content-right img {
    width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    overflow: hidden;
  }
  .nav__links {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(1, 185, 213);
    right: -100%;
    top: 55px;
    text-align: center;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

  .nav__links li {
    display: block;
    padding: 20px 0;
  }

  .nav__links li:first-child {
    padding-top: 50px;
  }

  .nav__links li a {
    color: white;
    font-size: 20px;
  }

  .nav__links li a:hover {
    border-bottom: 3px solid white;
  }

  header .cta {
    display: none;
  }

  .landing-content {
    padding: 205px 10%;
  }

  .checkbtn {
    display: block;
  }

  #check:checked ~ ul {
    right: 0;
  }
}
