* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

/* Utilities */
li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: black;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  padding-bottom: 10px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.heading:hover {
  transform: skewX(10deg);
  -webkit-transform: skewX(10deg);
  -moz-transform: skewX(10deg);
  -ms-transform: skewX(10deg);
  -o-transform: skewX(10deg);
}

button {
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 20px;
  background-color: rgba(1, 185, 213, 1);
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(1, 185, 213, 0.8);
}

/* Header CSS */
.nav__bar {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  position: fixed !important;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.logo {
  cursor: pointer;
  width: 150px;
}

.nav__links li {
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  text-transform: uppercase;
  font-weight: 600;
}

.nav__links li a:hover {
  padding-bottom: 10px;
  border-bottom: 3px solid rgba(67, 194, 221, 1);
}

.checkbtn {
  font-size: 30px;
  color: rgb(1, 185, 213);
  float: right;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* Landing PAge Content  */
.landing-content {
  background-image: url("https://static.wixstatic.com/media/50c456_96fa53259f494ae08e32c8f733bc6467~mv2.jpg"),
    linear-gradient(to bottom, rgb(1, 185, 213), #ffffff);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  padding: 10px 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

.content-left h4 {
  font-size: 50px;
  padding-bottom: 10px;
  font-weight: bold;
}

.content-left h4 span {
  display: block;
  font-weight: 300;
}

.content-left p {
  font-size: 18px;
  font-weight: 100;
  padding-bottom: 30px;
}
.content-right {
  text-align: center;
}
.content-right img {
  width: 540px;
}

/* How it Works */
.how-it-works {
  height: 100vh;
  /* background-color: blueviolet; */
  padding: 10px 10%;
}

.how-it-works .box-container {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
}

.how-it-works .box-container .box {
  width: 30%;
  height: 80%;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  margin: 15px 0;
  position: relative;
}

.how-it-works .box-container .box span {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(1, 185, 213);
  color: #fff;
  position: absolute;
  top: -2%;
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 30px;
  padding-bottom: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.how-it-works .box-container .box h4 {
  text-transform: uppercase;
  padding: 10px;
}

.how-it-works .box-container .box p {
  color: grey;
}

.how-it-works .features {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.how-it-works .features .feature-box {
  height: 100%;
  width: 20%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border: 2px solid rgb(1, 185, 213);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.how-it-works .features .feature-box:hover {
  box-shadow: 0 0 10px rgb(1, 185, 213);
  transform: scale(1.025);
  -webkit-transform: scale(1.025);
  -moz-transform: scale(1.025);
  -ms-transform: scale(1.025);
  -o-transform: scale(1.025);
}

.features .feature-box h3 {
  padding: 10px;
  font-size: 15px;
}

.features .feature-box p {
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  header {
    padding: 10px 5%;
  }

  .nav__links li {
    padding: 0 10px;
  }

  .nav__links li a {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .logo {
    width: 100px;
  }

  .nav__links li {
    padding: 0 5px;
  }

  .landing-content {
    padding: 15px 10%;
    flex-direction: column-reverse;
  }

  .content-left h4 {
    font-size: 40px;
  }

  .content-left p {
    font-size: 15px;
  }
  .content-right {
    text-align: center;
  }
  .content-right img {
    width: 450px;
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
  }


  .how-it-works .features .feature-box {
    width: 24%;
    height: 75%;
  }

  .features .feature-box img{
    height: 20%;
    margin-bottom: 20px;
  }

  .features .feature-box h3 {
    text-align: center;
    padding: 5px;
    font-size: 14px;
  }

  .features .feature-box p {
    padding: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  .nav__links {
    position: fixed;
    width: 50%;
    height: 100vh;
    background: rgb(1, 185, 213);
    right: -100%;
    top: 56px;
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }

  .nav__links li {
    display: block;
    padding: 20px 0;
  }

  .nav__links li:first-child {
    padding-top: 50px;
  }

  .nav__links li a {
    color: white;
    font-size: 16px;
  }

  .nav__links li a:hover {
    border-bottom: 3px solid white;
  }

  header .cta {
    display: none;
  }

  .checkbtn {
    display: block;
  }

  #check:checked ~ ul {
    right: 0;
  }

  .landing-content {
    padding: 155px 10%;
  }

  .content-left {
    text-align: center;
  }
  .content-left h4 {
    font-size: 30px;
  }

  .content-right img {
    width: 400px;
  }

  /* How it Works */

  .how-it-works .box-container {
    width: 100%;
    height: 60%;
    flex-direction: column;
    justify-content: space-between;
  }

  .how-it-works .box-container .box {
    width: 90%;
    height: 40%;
    margin-bottom: 30px;
  }

  .how-it-works .box-container .box::nth-child(3) {
    margin-right: 0;
  }

  .heading {
    padding-bottom: 35px;
  }

  .how-it-works .features {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .how-it-works .features .feature-box {
    width: 90%;
    height: 20%;
  }

  .how-it-works .features .feature-box img{
    height: 30%;
  }

  .features .feature-box h3 {
    padding: 8px;
    text-align: center;
  }

  .features .feature-box p {
    padding: 8px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    overflow: hidden;
  }
  .nav__links {
    position: fixed;
    width: 50%;
    height: 100vh;
    background: rgb(1, 185, 213);
    right: -100%;
    top: 56px;
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }

  .nav__links li {
    display: block;
    padding: 20px 0;
  }

  .nav__links li:first-child {
    padding-top: 50px;
  }

  .nav__links li a {
    color: white;
    font-size: 16px;
  }

  .nav__links li a:hover {
    border-bottom: 3px solid white;
  }

  header .cta {
    display: none;
  }

  .signup {
    display: block;
    margin-bottom: 20px;
  }

  .landing-content {
    padding: 205px 10%;
  }

  .checkbtn {
    display: block;
  }

  #check:checked ~ ul {
    right: 0;
  }

  /* How it Works */

  .how-it-works{
    height: 100%;
  }

  .how-it-works .box-container {
    height: 50%;
  }

  .how-it-works .box-container .box {
    height: 50%;
  }

  .how-it-works .features .feature-box {
    width: 100%;
    height: 24%;
    margin: 10px;
  }

  .how-it-works .features .feature-box img{
    width: 10%;
  }
  .features .feature-box h3 {
    padding: 5px;

  }

  .features .feature-box p {
    padding: 5px;
    font-size: 12px;
  }
}
